@{ 
    UserModel userInformation = ViewBag.userInformation;
    Layout = "_Layout_Profile";
}

    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mis Datos
            </div>
            <div class="panel-body">
                <label>Username</label>
                <input type="text" name="username" placeholder="@userInformation.Username" />
                <br />
                <label>Password</label>
                <input type="text" name="password" placeholder="@userInformation.Password" />
                <br />
                <label>Email</label>
                <input type="text" name="email" placeholder="@userInformation.Email" />
                <br />
                <label>Firstname</label>
                <input type="text" name="firstname" placeholder="@userInformation.Firstname" />
                <br />
                <label>Lastname</label>
                <input type="text" name="lastname" placeholder="@userInformation.Lastname" />
                <br />
                <input type="submit" value="Update data" />
            </div>
        </div>
    </div>