

@{
    EventModel eventInformation = ViewBag.eventInformation;
    ViewData["Title"] = "EventDetail";
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <h1 class="my-4">Zonas</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item active">zona1</a>
                    
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="http://webeventsoft.azurewebsites.net/@eventInformation.Image" alt="">
                    <div class="card-body">
                        <h3 class="card-title">@eventInformation.Name</h3>
                        <h4>@eventInformation.ReferenceLocation</h4>
                        <p class="card-text">@eventInformation.Address</p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>

                    <div>
             
                        <a asp-action="Index">Back to Home</a>
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Informacion General
                    </div>
                    <div class="card-body">
                        <p>Duracion</p>
                        <small class="text-muted">@eventInformation.Start</small> <small class="text-muted">@eventInformation.End</small>
                        <hr>
                        <p>Creadores del evento</p>
                        <small class="text-muted">@eventInformation.Owner</small>
                        <hr>
                        
                        <a href="#" class="btn btn-success">Comprar</a>
                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-lg-9 -->

        </div>

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>










